/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
  background-color: lightblue;
}

img {
  width: 100px;
}

.activities {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 15px;
}

.fossen {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 30%;
  border: 2px solid black;
  margin: 10px auto;
}

.David {
  width: 150px;
}
